
<div class="page-header">
  <h2>Chart</h2>
</div>

<div class="chart-container">

{{collection Steps.ChartNodesView contentBinding="nodes"}}

{{#each node in nodes}}
    {{#each action in node.actions}}
      {{#view Steps.ChartActionView actionBinding="action"}}
        {{action.title}}
      {{/view}}
    {{/each}}
{{/each}}
</div>

<div class="panel panel-default">
  <div class="panel-body">
    {{#if isEditing}}
      {{edit-chart class="form-control" value=title focus-out="acceptChanges" insert-newline="acceptChanges"}}
    {{else}}
      <label {{action "editChart" on="doubleClick"}}>{{title}}</label>
    {{/if}}
  </div>
</div>

{{#linkTo 'nodes'}}
  <div class="panel panel-default panel-default-action">
    <div class="panel-body">
      Nodes
    </div>
  </div>
{{/linkTo}}


